@media screen and (max-width:760px){
    .navbar-brand {
        margin-right: 9px;
    }
    .bannerText_margin {
        margin-left: 61px;
    }
    .meet_doctors{
        padding: 120px 97px;
    }
    .doc_content{
        padding: 42px;
    }
    .myspecialization p{
        width: 100%;
    }
    .consultation_content{
        top:0;
        left:0;
    }
    .carousel-height{
    height: auto;
   }
    .testimonial p{
        height:auto;
    }
    
    .about{
      padding: 46px;
  }
  .about_philosophy{
    padding: 100px 79px;
  }
  .philosophy_bgcolor{
      padding: 100px 43px;
  }
  .services{
      padding: 51px;
  }

  .tab-pane{
      padding:0;
  }
  .serviceTitle{
    width:100%;
}
.login-modal-content{
    width:60%;
}
.navbar-nav {
    margin-left: 0%;
}
.initial_consultation h1{
    font-size: 52px;
}
}

@media screen and (max-width:480px){
	.font-40{
	font-size:29px !important;
	}
	.carousel-caption h5{
		font-size: 29px ;
	}
  .navbar-brand{
      margin-left: 0;
      margin-right: 0px;
  }
  .navbar-nav{
    margin-left: 5%;
    margin-top: 20px;
  }
  .nav_login{
      margin-left: 5%;
  }
  .nav_contact{
      font-size: 13px;
  }
  .nav_bgcolor{
      padding: 6px;
  }
  .bannerText_margin{
      margin-left: 0;
  }  
  .bannerText h1{
      font-size: 45px;
  }
  .meet_doctors{
    padding:120px 34px;
  }
  .doc_content{
      padding: 20px;
  }
  .doc_content p{
      margin: auto 21px;
  }
  .myspecialization p{
      width:100%;
  }
  .consultation_content{
      top: 0;
      left: 0;
  }
  .carousel-height{
    height: auto;
   }
    .testimonial p{
        height:auto;
    }
  
  .about{
      padding: 46px;
  }
  .about_philosophy{
    padding: 100px 79px;
  }
  .philosophy_bgcolor{
      padding: 100px 43px;
  }
  .services{
      padding:48px 15px;
  }

  .tab-pane{
      padding:0;
  }
  .initial_consultation{
      padding: 13px;
      padding-top: 66px;
}
.serviceTitle{
    width:100%;
}
.login-modal-content{
    width:100%;
}
.initial_consultation h1{
    font-size: 52px;
}
}   
