body {
  padding-top: 3.5rem;
  font-family: playfair display, serif;
  overflow-x: hidden;
}

.navbar-nav {
  margin-left: 20%;
}

.nav_bgcolor {
  background: #2e5252;
  padding: 10px 40px;
}

.navbar-brand {
  margin-right: 138px;
}

.navbar-brand img {
  border-radius: 50%;
  width: 77%;
}

.nav_contact, .nav_login {
  color: #fff;
}

.navbar-nav li {
  margin-right: 25px;
}

.navbar-nav li .menus {
  color: #fff !important;
}

.navbar-dark .navbar-nav .active {
  background: #e2c8b4;
  padding: 0px 23px !important;
}
.navbar-dark .navbar-nav .active a {
  color: #000 !important;
}

.login-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: white;
  padding-top: 60px;
}

.login-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 30%;
  margin-top: 55px;
  color: #000;
}

.login-close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.login-close:hover,
.login-close:focus {
  color: red;
  cursor: pointer;
}

.login_page_head h1 {
  font-size: 48px;
  line-height: 0.8em;
  text-align: center;
}

.login_page_head p {
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 60px;
  margin-top: 20px;
  text-align: center;
}
.login_page_head p span {
  color: #955f27;
}

.btn-facebook {
  background: #3b5998;
  color: #fff;
  border-radius: 0;
}
.btn-facebook:hover {
  background: #597bc2;
}

.OrBorder {
  width: 369px;
  text-align: center;
  margin: 0 auto 40px;
  height: 11px;
  border-bottom: 1px solid;
  border-color: #B5B1AE;
  margin-top: 30px;
}

.OrBorder_text {
  background: #fff;
  padding: 10px 20px;
  font-size: 18px;
}

.btn-default {
  border-radius: 0;
  border: 1px solid #ccc;
}
.btn-default:hover {
  border: 1px solid #000;
}

.label-form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.ph-area {
  position: absolute;
  top: 0;
  transition: 200ms;
  opacity: 0.5;
  font-size: 20px;
}

.customize-form-control {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}

.customize-form-control:focus + .ph-area,
.customize-form-control:valid + .ph-area {
  font-size: 15px;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
  color: #5a5a5a;
}

.forgot_pass {
  color: #955f27;
  text-decoration: underline;
  font-size: 20px;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.banner {
  position: relative;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  height: 600px;
  width: 100%;
  object-fit: cover;
}

.bannerText {
  position: absolute;
  top: 300px;
  width: 100%;
  text-align: left;
}
.bannerText h1 {
  font: normal normal normal 60px/1.4em "playfair display", serif;
  color: #000000;
}
.bannerText p {
  font-size: 28px;
  font-style: italic;
}

.bannerText_margin {
  margin-left: 400px;
}

.banner_btn {
  background: #955f27;
  color: #fff;
}
.banner_btn:hover {
  background: #6f3d08;
  color: #fff;
}

.meet_doctors {
  background: #5f6a4c;
  padding: 97px;
  padding-bottom: 237px;
  padding-top: 237px;
  height: 100%;
}

.doc_content {
  padding: 100px;
  text-align: center;
  font-family: proxima-n-w01-reg, sans-serif;
}
.doc_content p {
  font: normal normal normal 18px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
  color: #2e5252;
  text-align: justify;
  margin: auto 80px;
  margin-bottom: 80px;
}

.specialization {
  background: #f2ece4;
  padding: 60px 0;
}

.consultation_content {
  top: 81px;
  background: #fff;
  padding: 64px;
  position: relative;
  left: -122px;
  box-shadow: 0px 1px 6px #5d5d5d;
}
.consultation_content h4 a {
  color: #004150;
  font: normal normal normal 28px/1.4em "playfair display";
}
.consultation_content p {
  color: #004150;
  font: normal normal normal 20px/1.4em avenir-lt-w01_35-light1475496;
}

.consult_button {
  background: rgba(149, 95, 39, 0.55);
  padding: 5px 30px;
  color: #fff;
  font-size: 15px;
}

.myspecialization h3 {
  font: normal normal normal 36px/1.4em "playfair display", serif;
  color: #2e5252;
}
.myspecialization p {
  font: normal normal normal 16px/1.4em "playfair display", serif;
  color: #2e5252;
  width: 656px;
  margin: 0 auto;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.8em;
  margin-bottom: 50px;
}

.specialization_list a {
  text-decoration: underline;
  font-size: 28px;
  color: #2e5252;
}

.consult_img_hover img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.servicesImg img:hover {
  opacity: 0.9;
  cursor: pointer;
}

.testimonial_indicator li {
  background-color: #000;
  background-clip: padding-box;
}

.testimonial p {
  margin-bottom: 80px;
  line-height: 1.8;
  color: #2e5252;
  font-size: 18px;
  height: 120px;
}

.testimonial p:nth-child(2) {
  font-size: 22px;
}

.excellence_bg_img {
  background: url("https://static.wixstatic.com/media/0446d4_a3a7934fae474c89a3c39f43492a2176~mv2.png/v1/fill/w_1349,h_567,al_c,q_90,usm_0.66_1.00_0.01/0446d4_a3a7934fae474c89a3c39f43492a2176~mv2.webp");
  padding: 20px;
}

.carousel-caption {
  top: 150px;
}
.carousel-caption h5 {
  border: 3px solid;
  font-size: 71px;
  color: #2e5252;
  background: #f0f8ff59;
}

.carousel-item img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 8s;
  -moz-animation: fadeIn ease 8s;
  -o-animation: fadeIn ease 8s;
  -ms-animation: fadeIn ease 8s;
}

.para-fade-in {
  animation: fadeIn ease 8s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

.btn-fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 13s;
  -moz-animation: fadeIn ease 13s;
  -o-animation: fadeIn ease 13s;
  -ms-animation: fadeIn ease 13s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.carousel.carousel-fade .carousel-item {
  display: block;
  opacity: 0;
  transition: opacity ease-out 0.5s;
}

.carousel.carousel-fade .carousel-item.active {
  opacity: 1 !important;
  transition: opacity ease-out 0.5s;
}

.carousel-height {
  height: 300px;
}

.banner_text_effect {
  animation: rotatetext 1s linear;
  transform-origin: left;
}

@keyframes rotatetext {
  from {
    transform: rotateY(89.097deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
.about {
  padding: 100px;
  padding-top: 95px;
  color: #2e5252;
}
.about h2 {
  font-size: 43px;
  letter-spacing: -1px;
}
.about p {
  line-height: 1.8em;
  font-size: 17px;
}
.about ul li b {
  font-size: 19px;
}

.about_philosophy {
  background: #ebdfcf;
  padding: 194px 97px;
  height: 100%;
}

.philosophy_bgcolor {
  background: #f2ece4;
  padding: 194px 97px;
  height: 100%;
}

.services {
  padding: 100px;
  padding-top: 72px;
  color: #2e5252;
  background: #f2ece4;
}
.services h2 {
  font-size: 43px;
  letter-spacing: -1px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.service_tab {
  width: fit-content;
  left: 41%;
  position: relative;
  margin-top: 50px;
}

.nav-tabs .nav-link {
  font-size: 19px;
  color: #2e5252;
}

.nav-tabs .nav-link.active {
  background-color: transparent;
  border-color: transparent;
  font-size: 19px;
  border-bottom: 3px solid #955f27;
}

.tab-pane {
  padding: 20px 81px;
}
.tab-pane h5 a {
  color: #2e5252;
  font-size: 25px;
  letter-spacing: -1px;
}

.service_row {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 30px 0;
}
.service_row img {
  width: 84px;
  height: 84px;
}

.initial_consultation {
  padding: 100px;
  background: #f2ece4;
  color: #2e5252;
}
.initial_consultation h1 {
  font-size: 60px;
}
.initial_consultation small {
  font-size: 14px;
}

.initial_consult_button {
  background: #955f27;
  padding: 12px 30px;
  color: #fff;
  font-size: 15px;
  border-radius: 0;
}

.initial_consult_content {
  font-size: 17px;
  max-width: 606px;
  margin: auto;
  margin-bottom: 58px;
  margin-top: 80px;
  line-height: 1.75em;
}

.book_online h2 {
  font-size: 22px;
  font-weight: bold;
}

.book_online p {
  font-size: 19px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.back_to_page {
  color: #955F27 !important;
  font-size: 18px;
  margin-left: 70px;
}

.serviceTitle {
  margin: 0 auto;
  width: 533px;
}

.footer_bgcolor {
  background: #2e5252;
}

.footer_left_text {
  color: #fff;
}

.customize_input {
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
}

.footer_form h3 {
  color: #fff;
  margin: 22px 0;
  font-size: 23px;
}

.footer_btn {
  border-radius: 50px;
  background: repeat padding-box border-box 0% 0%/auto auto scroll linear-gradient(180deg, #243391 0%, rgba(87, 29, 127, 0) 100%), #571D7F;
  padding: 5px 30px;
  color: #fff;
}

.chat {
  font-size: 33px;
  position: fixed;
  right: 20px;
  background: #955f27;
  padding: 9px 20px;
  border-radius: 50%;
  z-index: 1000;
  bottom: 20px;
}
.chat i {
  color: #fff;
}

.chat_box_header {
  background-color: #955f27;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid #955f27;
}
.chat_box_header a {
  padding: 25px;
  padding-top: 15px;
  float: right;
  cursor: pointer;
}

.chat_head_text {
  padding: 50px 50px;
  padding-bottom: 20px;
}
.chat_head_text i {
  font-size: 52px;
  margin-bottom: 10px;
  margin-top: 25px;
}

.chat_body {
  height: 200px;
}

.chat_powered {
  background: rgba(149, 95, 39, 0.18);
  color: rgba(50, 48, 47, 0.5);
  padding: 5px 10px;
}
.chat_powered p {
  margin: 0;
  font-size: 15px;
}
.chat_powered span {
  color: blue;
  font-size: 18px;
}

.chat-textarea-smile {
  position: absolute;
  bottom: 30px;
  left: 10px;
  font-size: 21px;
}

.chat-textarea-attachment {
  position: absolute;
  right: 10px;
  bottom: 30px;
  font-size: 21px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: -16px;
  right: 20px;
  z-index: 9;
  box-shadow: 0 0 5px #ccc;
}

/* Add styles to the form container */
.form-container {
  width: 330px;
  background-color: #f2ece4;
  border-radius: 5px;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
