//Common Colors of Websites
$HeaderBackgroundColor: rgba(46, 82, 82, 1); //Header Background Color
$HeaderTextColor: #fff; // Header Text Color
$ButtonBgColor: rgba(149, 95, 39, 1); //Button Background Color
$ButtonTextColor: #fff; // Button Text Color
$PagesBgColor: #f2ece4; // Pages Background Color
$PagesTextColor:#2e5252; // Pages text Color
$FooterBackgroundColor: rgba(46, 82, 82, 1); // Footer Background Color
$FooterTextColor: #fff; // Footer Text Color

//Section Wise Colors
$MeetDocBackgroundColor: rgba(95, 106, 76, 1); //Meet Doctors Background Color (Home & About Page )
$ConsultBtnBgColor:rgba(149, 95, 39, 0.55); // Initial Consultation Button Color (Home Page)
$AboutPhilosophyLeftBgColor: #ebdfcf; // Philosophy section Left background Color(About Page)
$AboutPhilosophyRightBgColor: rgb(235, 223, 207);// Philosophy section Right background Color(About Page)
$TabActiveColor: #955f27; // Active Tab Bottom border Color(Service Page)
