$HeaderBackgroundColor: rgba(46, 82, 82, 1);
$HeaderTextColor: #fff;
$ButtonBackgroundColor: rgba(149, 95, 39, 1);
$ButtonTextColor: #fff;
$MeetDocBackgroundColor: rgba(95, 106, 76, 1);
$FooterBackgroundColor: rgba(46, 82, 82, 1);