/*
 * Globals
 */
.ml-5{
  margin-left: 117px !important;
}
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #000;
  font-family: 'Helvetica Bold', sans-serif;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex; 
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  overflow-x:hidden;
}

.cover-container {
  z-index: 1000;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead .inner{
  margin: 22px 0;
}

.masthead-brand {
  margin-bottom: 0;
  position: fixed;
  width:7%;
  font: normal normal normal 30px/1.4em helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;
  font-weight: 600;
  transition: color 0.4s ease 0s;
}
.masthead-brand:hover{
  color:red;
}
.nav-masthead{
  position: relative;
  top: 10px;
  left: 63px;
}
.nav-masthead .nav-link {
  /* padding: .25rem 0; */
  color: rgba(255, 255, 255);
  background-color: transparent;
  letter-spacing: 0.5em;
  font: normal normal normal 13px/1.4em futura-lt-w01-light,sans-serif;
  text-transform: uppercase;
  margin: 0 40px;
  /* border-bottom: .25rem solid transparent; */
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  /* border-bottom-color: rgba(255, 255, 255, .25); */
  color:red;
}

/* .nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
  font-size: 18px;
} */

.nav-masthead .active {
  color: red;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  /* .nav-masthead {
    float: right;
  } */
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
  padding-left: 100px;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  opacity: 0.3;
  width: 1349px;
  /* height: 759px; */
  overflow-y:hidden;
}
.cover h1{
  color: red;
  font-size: 168px;
  width:50%;
  line-height:0.9em;
  margin-bottom:67px;
  font-weight: 600;
  margin-top: 81px;
}


.cover p{
  font-size:30px;
  font-weight: 700;
  width:59%;
  line-height: 1.1em;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}
.sidenav .active{
  color:red;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 35px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover{
  color: red;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.inner span{
  font-size: 40px !important;
  top: 32px;
  position: fixed;
  color: red;
  cursor: pointer;
  left: 89%;
}

.number h1{
  font-size: 98px;
  font-weight: 700;
  margin-bottom:100px;
}
.number h2{
  font-size: 57px;
  font-weight: 700;
  width:85%;
  margin-bottom: 26px;
  margin-top: 90px;
}
.number h2 span{
  color:red;
}
.number p{
  font-size:14px;
  font: normal normal normal 15px/1.4em proxima-n-w01-reg,sans-serif;
  color: #ABABAB;
  width:85%;
  margin-bottom: 26px;
}
.number .view{
  letter-spacing:0.5em;
  color:#fff;
  text-transform:uppercase;
  margin-top:70px;
}
.number .view a{
  color: red;
  cursor: pointer;
  font-size:20px;
}
.number .view a:hover{
  color:#f1f1f1;
}
.our_clients{
  margin-top:26px;
  width:90%;
}
.our_clients h1{
  font-size:57px;
  margin-bottom: 20px;
}
.our_clients p{
  font-size:14px;
  color: #ABABAB;
  width:70%;
}



@keyframes strike{
  0%   { width : 0; }
  100% { width: 210px; }
}
.strike {
  position: relative;
}
.strike::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: -45px;
  width: 100%;
  height: 10px;
  background: #fff;
  animation-name: strike;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
}
.media_body{
  display:block;
}
.portfolio img{
  height:300px;
  width: 100%;
  opacity: 0.7;
}
.portfolio h2{
    color: #fff;
    z-index: 1000;
    position: absolute;
    top: 130px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 30px;
    text-align: left;
    /*background: rgba(255, 156, 138, 0.5);*/
    margin-left:30px;
    width: 75%;
    padding: 8px 5px;
}

.portfolio p{
  color: #fff;
  z-index: 1000;
  position: absolute;
  top: 173px;
  
  /*text-transform: uppercase;*/
  font-size: 15px;
  text-align: left;
  /*background: rgba(255, 156, 138, 0.5);*/
  margin-left:15px;
  width: 96%;
  padding: 15px 24px;
}
.portfolio a:last-child{
    position: relative;
    top: -49px;
    left: 41px;
    text-decoration:underline;
    float: left;
    font-size:18px;
}
.portfolio a:hover{
  color:red;
}
.flip-box {
  background-color: transparent;
  width: 100%;
  height: 300px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; 
}
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* .flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
} */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.flip-box-front {
  background-color: #000;
  color: black;
}
.flip-box-back {
    background-color: #deec7e;
    background: rgba(221, 10, 10, 0.42);
    color: #fff;
    transform: rotateY(180deg);
    padding: 74px 25px;
}
.about{
  font-size:30px;
}
.about_img{
  width: 231px;
  height: 289px;
}
.about_img img{
  width: 231px;
  height: 289px;
}
#about_first,#about_sec,#about_third{
  padding:100px 0;
}
.about_person_heading{
  border-bottom:1px solid red;
  letter-spacing:0.5em;
  width:86%;
  margin-top:50px;
}
.about_person_cont{
  font-size:14px;
  color: #ABABAB;
  width:80%;
  margin-top:50px;
}
.carousel-caption{
  top:70px;
}
.carousel-caption h1{
  font-weight:700;
  font-size:60px;
}
.carousel-caption a{
  font-size:20px;
}
.carousel-caption a:hover, .text a:hover{
  cursor:pointer;
  color:red;
}
.carousel-caption a i{
  font-size:35px;
  margin-right:10px;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:rgba(23, 22, 22, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.about_port:hover .overlay {
  height: 100%;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Lightbox Start*/

.lightbox_modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  background-color: black;
}

.lightbox_modal_content1 {
  position: relative;
  margin: auto;
  padding: 0;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}
/* Lightbox End */

.clients img{
    width: 90%;
    height: 75px;
    filter: grayscale(100%);
    cursor:pointer;
}
.clients img:hover{
    filter: grayscale(0%);
}


.show {
  display: block;
}
.form-control{
      background-color: #000;
      border: 1px solid #000;
      border-bottom: 1px solid #fff;
}
.form-control:focus{
    background-color: rgba(255, 64, 64, 0.1);
    border: 1px solid red;
}
/* Style the buttons */
.client_btn {
  padding: 12px 16px;
  /* background-color: #f1f1f1; */
  cursor: pointer;
}

.client_btn:hover {
  border-bottom:2px solid red;
}

.client_btn.active {
  border-bottom:2px solid red;
    
}

.card-img{
    width:100%;
    height: 300px;
    transition:0.5s;
}
.card-img:hover{
  filter: grayscale(50%);
  transform:scale(0.9);
  box-shadow: 5px 5px 12px #565555;
}

.nav-pills {
    padding:20px;
}

.nav-pills li a { 
    margin:5px;
    padding: 10px 12px;
    font-size:16px; 
    color:red; 
    background: #000;
    transition-duration: 0.4s;
}
.nav-pills a:hover { 
    border-bottom: 4px solid red; 
}
.nav-pills .active { 
  background: #000 !important;
    color: red !important;
     border-bottom: 4px solid red; 
}
.submit{
  color:#fff;
}
.submit:hover{
  color:red;
}
@keyframes winanim {
    0%{opacity:0;transform:scale3d(.3,.3,.3)}
    50%{opacity:1}
    
}

/* Responsive */
@media (max-width:1024px){
  .nav-masthead .nav-link{
    margin: 0 17px;
  }
  #myVideo{
    width: auto;
  }
}
@media (max-width:760px){
  .cover{
    padding-left: 15px;
  }
  .cover h1{
    font-size: 87px;
    margin-top:81px;
  }
  .cover p{
    width: 100%;
    font-size: 22px;
  }
  .sidenav {padding-top: 45px;}
  .sidenav a {font-size: 18px;}
  .nav-masthead a{
    display:none;
  }
  .inner{
    display: flex;
    justify-content: space-between;
  }
  .masthead .inner {
    margin: 17px 0;
  }
  .masthead-brand{
    position: relative;
  }
  .ml-5{
    margin-left: 4px !important;
  }
  .carousel-caption h1{
    font-size: 46px;
  }
  .lightbox_modal_content1 .container{
    overflow-y: scroll;
  }
  .portfolio a:last-child{
    left: 50px;
  }
  .portfolio h2{
    padding: 8px 20px;
  }
  .portfolio p{
    padding: 15px 36px;
  }
  .our_clients{
    width: 100%;
  }
  .clients img{
    width: 100%;
    height: 100%;
  }
  .about_img{
    width: 100%;
    text-align:center;
  }
  .about_person_heading,.about_person_cont{
    width:100%;
  }
  .inner span{
    top: -23px;
    left: -177%;
    position: relative;
  }
}

@media (max-width:480px){
  .cover{
    padding-left: 15px;
  }
  .cover h1{
    font-size: 87px;
    margin-top: 96px;
  }
  .cover p{
    width: 100%;
  }
  .sidenav {padding-top: 50%;padding-bottom: 50%;}
  .sidenav .closebtn{
    top: 92px;
    right: 74px;
  }
  .sidenav a {font-size: 35px;padding: 8px 63px 8px 20px;}
  .nav-masthead a{
    display:none;
  }
  .inner{
    display: flex;
    justify-content: space-between;
  }
  .masthead-brand{
    position: relative;
  }
  .masthead .inner {
    margin: 17px 0;
  }
  .ml-5{
    margin-left: 4px !important;
  }
  .carousel-caption h1{
    font-size: 46px;
  }
  .lightbox_modal_content1 .container{
    overflow-y: scroll;
  }
  .portfolio a:last-child {
    left: 40px;
  }
  .portfolio h2{
    padding: 8px 12px;
  }
  .portfolio p{
    padding: 15px 28px;
  }
  .our_clients{
    width: 100%;
  }
  .clients img{
    width: 100%;
    height: 100%;
  }
  .number h2{
    width:100%;
  }
  .number p{
    width: 100%;
  }
  .about_img{
    width: 100%;
    text-align:center;
  }
  .about_person_heading,.about_person_cont{
    width:100%;
  }
  .inner span{
    top: -14px;
    left: -187%;
    position: relative;
  }
}
