*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: #fff;
  overflow: hidden !important;
  overflow-y: auto !important;
}

input, button {
  border: none;
  outline: none;
  background: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.wrapper {
  background: url("https://www.business.com/images/content/5ca/3db965a215e8a458b9d66/0-800-");
  height: 100vh;
  padding-top: 50px;
  overflow-y: hidden;
  background-size: cover;
}

.tip {
  font-size: 20px;
  margin: 40px auto 50px;
  text-align: center;
}

.cont {
  overflow: hidden;
  position: relative;
  width: 900px;
  height: 550px;
  margin: 0 auto 100px;
  background: #fff;
  border-radius: 1%;
  box-shadow: 0px 0px 5px #8e8d8d;
}

.form {
  position: relative;
  width: 640px;
  height: 100%;
  transition: transform 1.2s ease-in-out;
  padding: 50px 111px 0;
  background: #fff;
}

.sub-cont {
  overflow: hidden;
  position: absolute;
  left: 640px;
  top: 0;
  width: 900px;
  height: 100%;
  padding-left: 260px;
  background: #fff;
  transition: transform 1.2s ease-in-out;
}
.cont.s--signup .sub-cont {
  transform: translate3d(-640px, 0, 0);
}

button {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 36px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  padding-top: 360px;
}
.img:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 900px;
  height: 100%;
  background: #5fccec;
  background-size: cover;
  transition: transform 1.2s ease-in-out;
}
.img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.cont.s--signup .img:before {
  transform: translate3d(640px, 0, 0);
}
.img__text {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  transition: transform 1.2s ease-in-out;
}
.img__text h2 {
  margin-bottom: 10px;
  font-weight: normal;
}
.img__text p {
  font-size: 14px;
  line-height: 1.5;
}
.cont.s--signup .img__text.m--up {
  transform: translateX(520px);
}
.img__text.m--in {
  transform: translateX(-520px);
}
.cont.s--signup .img__text.m--in {
  transform: translateX(0);
}
.img__btn {
  overflow: hidden;
  z-index: 2;
  position: relative;
  width: 100px;
  height: 36px;
  margin: 0 auto;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}
.img__btn:after {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 30px;
}
.img__btn span {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 1.2s;
}
.img__btn span.m--in {
  transform: translateY(-72px);
}
.cont.s--signup .img__btn span.m--in {
  transform: translateY(0);
}
.cont.s--signup .img__btn span.m--up {
  transform: translateY(72px);
}

h2 {
  width: 100%;
  font-size: 26px;
  text-align: center;
}

.form h2 {
  color: #8a2be2;
}

.labelColor {
  color: #8a2be2;
}

.forgot-pass {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #cfcfcf;
}

.submit {
  margin-top: 40px;
  margin-bottom: 20px;
  background: #49c5f5;
  text-transform: uppercase;
  color: #fff;
}

.fb-btn {
  color: #fff;
  background: #3b5998;
  box-shadow: 0px 0px 5px #3b5998;
}
.fb-btn span {
  font-weight: bold;
  color: #fff;
}

.sign-in {
  transition-timing-function: ease-out;
}
.cont.s--signup .sign-in {
  transition-timing-function: ease-in-out;
  transition-duration: 1.2s;
  transform: translate3d(640px, 0, 0);
}

.sign-up {
  transform: translate3d(-900px, 0, 0);
}
.cont.s--signup .sign-up {
  transform: translate3d(0, 0, 0);
}

.icon-link {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 32px;
}
.icon-link img {
  width: 100%;
  vertical-align: top;
}
.icon-link--twitter {
  left: auto;
  right: 5px;
}

.menubox {
  margin: 10px;
  background: #fff;
  box-shadow: 0px 0px 5px #bfbdbd;
  border-radius: 6px;
}

.icon-box {
  text-align: center;
  padding: 20px 0;
  background: #d664ed;
  color: #fff;
  height: 12vh;
}

.headerfooter-bgcolor {
  background: #006DF0;
}

.header-top-menu .navbar-nav > .nav-text-color > a, .header-right-info ul.header-right-menu > .nav-text-color > a {
  color: #fff;
}

.btn-bgcolor {
  background-color: #5bc0de;
  border-color: #5bc0de;
  color: #fff;
}

.header-text {
  color: #fff;
  top: 13px;
  position: absolute;
}
.header-text p {
  background: #000;
  padding: 7px 25px;
}
.header-text span {
  font-weight: 600;
  color: #3ad9de;
}

.header-right-info .login-name-color {
  color: #fff;
}

.sidebar-bgcolor {
  background: #fff !important;
}

.sidebar-icon-color {
  color: #006DF0;
}

.sidebar-text-color {
  color: #006DF0;
}

.box-head-bar {
  background: #363636;
  padding: 5px 10px;
  color: #fff;
}
.box-head-bar p {
  margin-bottom: 0;
}

.box-subhead-bar {
  background: #cfcdcd;
  padding: 5px 10px;
  color: #000;
}

.box-one {
  padding: 0;
  margin-bottom: 5px;
  background: #fff;
}

.height-129 {
  height: 129px;
}

.height-341 {
  height: 341px;
}

.height-203 {
  height: 217px;
}

.height-214 {
  height: 239px;
}

.height-360 {
  height: 360px;
}

.work-box-head {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.work-box-head h3 {
  color: #00008b;
}
.work-box-head span {
  color: #00008b;
  font-size: 15px;
  font-weight: 600;
}

.task-box {
  display: flex;
  justify-content: space-between;
}
.task-box p {
  font-size: 17px;
  color: blue;
}

.event-box {
  display: flex;
  justify-content: space-between;
}
.event-box p {
  font-size: 17px;
  color: #e8520f;
}

.plus-icon {
  cursor: pointer;
  color: blue;
  font-size: 19px;
  margin-right: 5px;
}

.minus-icon {
  cursor: pointer;
  color: #fa0d04;
  font-size: 19px;
}

.main-logo {
  margin-top: 7px;
  margin-left: 12px;
}

.content-bgcolor {
  background: #fff;
}

/*# sourceMappingURL=style.css.map */
