@import "variable";

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: #fff;
    overflow: hidden !important;
    overflow-y: auto !important;
  }
  
  input, button {
    border: none;
    outline: none;
    background: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  }
  
  
  @mixin signUpActive {
    .cont.s--signup & {
      @content;
    }
  }
  
  .wrapper{
    background: url('https://www.business.com/images/content/5ca/3db965a215e8a458b9d66/0-800-');
    height: 100vh;
    padding-top: 50px;
    overflow-y: hidden;
    background-size: cover;
  }
  .tip {
    font-size: 20px;
    margin: 40px auto 50px;
    text-align: center;
  }
  
  .cont {
    overflow: hidden;
    position: relative;
    width: $contW;
    height: 550px;
    margin: 0 auto 100px;
    background: #fff;
    border-radius: 1%;
    box-shadow: 0px 0px 5px #8e8d8d;
  }
  
  .form {
    position: relative;
    width: $formW;
    height: 100%;
    transition: transform $switchAT ease-in-out;
    padding: 50px 111px 0;
    background: $formBgColor
  }
  
  .sub-cont {
    overflow: hidden;
    position: absolute;
    left: $formW;
    top: 0;
    width: $contW;
    height: 100%;
    padding-left: $imgW;
    background: #fff;
    transition: transform $switchAT ease-in-out;
  
    @include signUpActive {
      transform: translate3d($formW * -1,0,0);
    }
  }
  
  button {
    display: block;
    margin: 0 auto;
    width: $inputW;
    height: $btnH;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
  }
  
  .img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: $imgW;
    height: 100%;
    padding-top: 360px;
  
    &:before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: $contW;
      height: 100%;
      background: $loginBgImg;
      background-size: cover;
      transition: transform $switchAT ease-in-out;
    }
  
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.6);
    }
  
    @include signUpActive {
      &:before {
        transform: translate3d($formW,0,0);
      }
    }
  
    &__text {
      z-index: 2;
      position: absolute;
      left: 0;
      top: 50px;
      width: 100%;
      padding: 0 20px;
      text-align: center;
      color: #fff;
      transition: transform $switchAT ease-in-out;
  
      h2 {
        margin-bottom: 10px;
        font-weight: normal;
      }
  
      p {
        font-size: 14px;
        line-height: 1.5;
      }
  
      &.m--up {
  
        @include signUpActive {
          transform: translateX($imgW*2);
        }
      }
  
      &.m--in {
        transform: translateX($imgW * -2);
  
        @include signUpActive {
          transform: translateX(0);
        }
      }
    }
  
    &__btn {
      overflow: hidden;
      z-index: 2;
      position: relative;
      width: 100px;
      height: $btnH;
      margin: 0 auto;
      background: transparent;
      color: #fff;
      text-transform: uppercase;
      font-size: 15px;
      cursor: pointer;
      
      &:after {
        content: '';
        z-index: 2;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 2px solid #fff;
        border-radius: 30px;
      }
  
      span {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        transition: transform $switchAT;
        
        &.m--in {
          transform: translateY($btnH*-2);
          
          @include signUpActive {
            transform: translateY(0);
          }
        }
        
        &.m--up {
          @include signUpActive {
            transform: translateY($btnH*2);
          }
        }
      }
    }
  }
  
  h2 {
    width: 100%;
    font-size: 26px;
    text-align: center;
  }
  
  .form h2{
    color: $formTextColor;
  }
  .labelColor{
    color: $formTextColor;
  }
  .forgot-pass {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #cfcfcf;
  }
  
  .submit {
    margin-top: 40px;
    margin-bottom: 20px;
    background: $submitBtnColor;
    text-transform: uppercase;
    color: $submitBtnTextClor;
  }
  
  .fb-btn {
    // border: 2px solid #d3dae9;
    // color: darken(#d3dae9, 20%);
    color: #fff;
    background: #3b5998;
    box-shadow: 0px 0px 5px #3b5998;
  
    span {
      font-weight: bold;
      color: #fff;
    //   color: darken(#768cb6, 20%);
    }
  }
  
  .sign-in {
    transition-timing-function: ease-out;
  
    @include signUpActive {
      transition-timing-function: ease-in-out;
      transition-duration: $switchAT;
      transform: translate3d($formW,0,0);
    }
  }
  
  .sign-up {
    transform: translate3d($contW * -1,0,0);
  
    @include signUpActive {
      transform: translate3d(0,0,0);
    }
  }
  
  .icon-link {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 32px;
  
    img {
      width: 100%;
      vertical-align: top;
    }
  
    &--twitter {
      left: auto;
      right: 5px;
    }
  }
  .menubox{
    // padding: 10px;
    margin: 10px;
    background: $menuBoxColor;
    box-shadow: 0px 0px 5px #bfbdbd;
    border-radius: 6px;
  }
  .icon-box{
    text-align: center;
    padding: 20px 0;
    background: $iconBoxColor;
    color: $iconBoxTextColor;
    height: 12vh;
  }
  
  // Landing and Dashboard
  .headerfooter-bgcolor{
    background: $headerBgColor;
  }
  .header-top-menu .navbar-nav > .nav-text-color > a , .header-right-info ul.header-right-menu > .nav-text-color > a {
    color: $navTextColor;
  }
  .btn-bgcolor {
    background-color: $collapseBgColor;
    border-color: $collapseBgColor;
    color: $collapseTextColor;
  }
  .header-text{
    color: $headerTextBoxTextColor;
    top: 13px;
    position: absolute;
    p{
      background: $headerTextBoxBgColor;
      padding: 7px 25px;
    }
    span{
      font-weight: 600;
      color: $headerTextBoxSpanColor;
    }
  }
  .header-right-info .login-name-color{
    color: $navTextColor;
  }
  .main-logo{
    background-image: $headerLogo;
  }
  .sidebar-bgcolor{
    background: $sidebarBgColor !important;
  }
  .sidebar-icon-color{
    color: $sidebarIconColor;
  }
  .sidebar-text-color{
    color: $sidebarTextColor;
  }
  .box-head-bar{
    background: $boxHeadBgColor;
    padding: 5px 10px;
    color: $boxheadTextColor;

    p{
      margin-bottom: 0;
    }
  }
  .box-subhead-bar{
    background: $boxSubheadBgColor;
    padding: 5px 10px;
    color: $boxSubheadTextColor;
  }
  .box-one{
    padding: 0;
    margin-bottom: 5px;
    background: #fff;
  }
  .height-129{
    height: 129px;
  }
  .height-341{
    height: 341px;
  }
  .height-203{
    height: 217px;
  }
  .height-214{
    height: 239px;
  }
  .height-360{
    height: 360px;
  }
  .work-box-head{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;

    h3{
      color:#00008b;
    }

    span{
      color: #00008b;
      font-size: 15px;
      font-weight: 600;
    }

  }
  .task-box{
    display: flex;
    justify-content: space-between;

    p{
      font-size: 17px;
      color: blue;
    }
  }
  .event-box{
    display: flex;
    justify-content: space-between;

    p{
      font-size: 17px;
      color: rgb(232, 82, 15);
    }
  }
  .plus-icon{
    cursor:pointer; 
    color: blue;
    font-size: 19px;
    margin-right: 5px;
  }

  .minus-icon{
    cursor:pointer; 
    color: rgb(250, 13, 4);
    font-size: 19px;
  }