@import "variable";

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: #fff;
    overflow: hidden !important;
    overflow-y: auto !important;
  }
  
  input, button {
    border: none;
    outline: none;
    background: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  }
  
  
  @mixin signUpActive {
    .cont.s--signup & {
      @content;
    }
  }
  
  .wrapper{
    background: url('https://www.business.com/images/content/5ca/3db965a215e8a458b9d66/0-800-');
    height: 100vh;
    padding-top: 50px;
    overflow-y: hidden;
    background-size: cover;
  }
  .tip {
    font-size: 20px;
    margin: 40px auto 50px;
    text-align: center;
  }
  
  .cont {
    overflow: hidden;
    position: relative;
    width: $contW;
    height: 550px;
    margin: 0 auto 100px;
    background: #fff;
    border-radius: 1%;
    box-shadow: 0px 0px 5px #8e8d8d;
  }
  
  .form {
    position: relative;
    width: $formW;
    height: 100%;
    transition: transform $switchAT ease-in-out;
    padding: 50px 111px 0;
    background: $formBgColor
  }
  
  .sub-cont {
    overflow: hidden;
    position: absolute;
    left: $formW;
    top: 0;
    width: $contW;
    height: 100%;
    padding-left: $imgW;
    background: #fff;
    transition: transform $switchAT ease-in-out;
  
    @include signUpActive {
      transform: translate3d($formW * -1,0,0);
    }
  }
  
  button {
    display: block;
    margin: 0 auto;
    width: $inputW;
    height: $btnH;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
  }
  
  .img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: $imgW;
    height: 100%;
    padding-top: 360px;
  
    &:before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: $contW;
      height: 100%;
      background: $loginBgImg;
      background-size: cover;
      transition: transform $switchAT ease-in-out;
    }
  
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.6);
    }
  
    @include signUpActive {
      &:before {
        transform: translate3d($formW,0,0);
      }
    }
  
    &__text {
      z-index: 2;
      position: absolute;
      left: 0;
      top: 50px;
      width: 100%;
      padding: 0 20px;
      text-align: center;
      color: #fff;
      transition: transform $switchAT ease-in-out;
  
      h2 {
        margin-bottom: 10px;
        font-weight: normal;
      }
  
      p {
        font-size: 14px;
        line-height: 1.5;
      }
  
      &.m--up {
  
        @include signUpActive {
          transform: translateX($imgW*2);
        }
      }
  
      &.m--in {
        transform: translateX($imgW * -2);
  
        @include signUpActive {
          transform: translateX(0);
        }
      }
    }
  
    &__btn {
      overflow: hidden;
      z-index: 2;
      position: relative;
      width: 100px;
      height: $btnH;
      margin: 0 auto;
      background: transparent;
      color: #fff;
      text-transform: uppercase;
      font-size: 15px;
      cursor: pointer;
      
      &:after {
        content: '';
        z-index: 2;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 2px solid #fff;
        border-radius: 30px;
      }
  
      span {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        transition: transform $switchAT;
        
        &.m--in {
          transform: translateY($btnH*-2);
          
          @include signUpActive {
            transform: translateY(0);
          }
        }
        
        &.m--up {
          @include signUpActive {
            transform: translateY($btnH*2);
          }
        }
      }
    }
  }
  
  h2 {
    width: 100%;
    font-size: 26px;
    text-align: center;
  }
  
  .form h2{
    color: $formTextColor;
  }
  .labelColor{
    color: $formTextColor;
  }
  .forgot-pass {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #cfcfcf;
  }
  
  .submit {
    margin-top: 40px;
    margin-bottom: 20px;
    background: $submitBtnColor;
    text-transform: uppercase;
    color: $submitBtnTextClor;
  }
  
  .fb-btn {
    // border: 2px solid #d3dae9;
    // color: darken(#d3dae9, 20%);
    color: #fff;
    background: #3b5998;
    box-shadow: 0px 0px 5px #3b5998;
  
    span {
      font-weight: bold;
      color: #fff;
    //   color: darken(#768cb6, 20%);
    }
  }
  
  .sign-in {
    transition-timing-function: ease-out;
  
    @include signUpActive {
      transition-timing-function: ease-in-out;
      transition-duration: $switchAT;
      transform: translate3d($formW,0,0);
    }
  }
  
  .sign-up {
    transform: translate3d($contW * -1,0,0);
  
    @include signUpActive {
      transform: translate3d(0,0,0);
    }
  }
  
  .icon-link {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 32px;
  
    img {
      width: 100%;
      vertical-align: top;
    }
  
    &--twitter {
      left: auto;
      right: 5px;
    }
  }
  .menubox{
    // padding: 10px;
    margin: 10px;
    background: $menuBoxColor;
    box-shadow: 0px 0px 5px #bfbdbd;
    border-radius: 6px;
  }
  .icon-box{
    // text-align: center;
    // padding: 20px 0;
    // background: $iconBoxColor;
    // color: $iconBoxTextColor;
    height: 76px;
  }
  
  // Landing and Dashboard
  .headerfooter-bgcolor{
    background: $headerBgColor;
  }
  .header-top-menu .navbar-nav > .nav-text-color > a , .header-right-info ul.header-right-menu > .nav-text-color > a {
    color: $navTextColor;
  }
  .btn-bgcolor {
    background-color: $collapseBgColor;
    border-color: $collapseBgColor;
    color: $collapseTextColor;
  }
  .header-text{
    color: $headerTextBoxTextColor;
    top: 12px;
    position: absolute;
    p{
      background: $headerTextBoxBgColor;
      padding: 7px 25px;
    }
    span{
      font-weight: 600;
      color: $headerTextBoxSpanColor;
    }
  }
  .header-text {
    color: #fff;
    top: 10px;
    position: absolute;
  }
  .header-text p {
    background: #000;
    padding: 5px 25px;
    font-size: 13px;
  }
  .header-text span {
    font-weight: 600;
    color: #3ad9de;
  }
  .header-right-info .login-name-color{
    color: $navTextColor;
  }
  
  .sidebar-bgcolor{
    background: $sidebarBgColor !important;
  }
  .sidebar-icon-color{
    color: $sidebarIconColor;
  }
  .sidebar-text-color{
    color: $sidebarTextColor;
  }
  .sidebar-nav .metismenu a:hover, .sidebar-nav .metismenu a:focus, .sidebar-nav .metismenu a:active {
    background: $sidebarListHover !important;
}
.sidebar-nav ul{
  background: $sidebarSubMenuBgColor !important;
}
.sidebar-nav .metismenu a {
  color: $sidebarTextColor !important;
}
  .box-head-bar{
    background: $boxHeadBgColor;
    padding: 5px 10px;
    color: $boxheadTextColor;

    p{
      margin-bottom: 0;
    }
  }
  .box-subhead-bar{
    background: $boxSubheadBgColor;
    padding: 5px 8px;
    color: $boxSubheadTextColor;
    font-size: 13px;
  }
  .box-one{
    padding: 0;
    margin-bottom: 5px;
    background: #fff;
  }
  
  @each $x in $sizes {
    .height-#{$x} {      
      height: 100%;
      min-height: $x;
    }
  }
 
  @each $x in $sizes {
    .box-style-#{$x} {      
      height: 100%;
      min-height: $x;
      padding:20px;
      box-shadow: 0px 0px 5px #ccc;
      border-radius: 2px;
      margin-right: 10px;
      width: 24%;
      margin-bottom: 10px;
    }
    .box-width-49{
      width: 49%;
      padding: 20px;
      box-shadow: 0px 0px 5px #ccc;
      border-radius: 2px;
      margin-right: 10px;
    }
    .top-box-list{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .box-style-#{$x}:nth-last-child(1){
      margin-right: 0 !important;
    }
    .box-width-#{$x}:nth-last-child(1){
      margin-right: 0 !important;
    }
  }
  
  

  .display-img{
    display: none;
  }
  .land-bgboxc-color{
    background: $landBgBoxColor;
  }
  .work-box-head{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;

    h3{
      color:$workHeadTextColor;
    }

    span{
      color: $workHeadTextColor;
      font-size: 15px;
      font-weight: 600;
    }

  }
  .task-box{
    display: flex;
    justify-content: space-between;

    p{
      font-size: 17px;
      color: $workTaskColor;
    }
  }
  .event-box{
    display: flex;
    justify-content: space-between;

    p{
      font-size: 17px;
      color: $workEventColor;
    }
  }
  .plus-icon{
    cursor:pointer; 
    color: $workTaskColor;
    font-size: 19px;
    margin-right: 5px;
  }

  .minus-icon{
    cursor:pointer; 
    color: $workEventColor;
    font-size: 19px;
  }

  .main-logo{
    margin-top: 8px;
    margin-left: 12px;
  }
  .content-bgcolor{
    background: $contentBgColor;
  }
  .sidebar-nav .metismenu,#sidebar .sidebar-header{
    background: $sidebarBgColor !important;
  }
 .modal-content{
  background: $modalBgColor;
    .modal-header{
      background-color: $modalHeaderBgColor
   }
   .modal-title{
    color: #fff;
  }
  .close{
    color: #fff;
    opacity: 0.9;
  }
 }
 .btn-sidemenu-size{
    margin: 10px 0;
    padding: 5px 9px;
    font-size: 12px;
    height: fit-content;
 }
 .searchIcon{
  padding: 13px;
   background: #fff;
   box-shadow: 0px 0px 5px #ccc;
}
 

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.text-right p{
  font-size: 14px;
  color: #999;
}


@mixin box-style {
  // padding:20px;
  box-shadow: 0px 0px 5px #ccc;
  border-radius: 2px;
  text-align: center;
  box-sizing: border-box;
}

.box-sm{
  @include box-style;
  height: 200px;
}
// .box-sm-3{
//   @include box-style;
//   height: 282px;
//   width: 271px;
// }
// .box-sm-6{
//   @include box-style;
//   height: 282px;
//   width: 557px;
// }
// .box-sm-12{
//   @include box-style;
//   height: 282px;
//   width: 100%;
// }
.box-md{
  @include box-style;
  height: 300px;
}
// .box-md-3{
//   @include box-style;
//   height: 300px;
//   width: 271px;
// }
// .box-md-12{
//   @include box-style;
//   height: 300px;
//   width: 100%;
// }
.box-lg{
  @include box-style;
  height: 100%;
}
.box-xs{
  @include box-style;
  height: 200px;
}
// .box-xs-6{
//   @include box-style;
//   height: 200px;
//   width: 557px;
// }
// .box-xs-12{
//   @include box-style;
//   height: 200px;
//   width: 100%;
// }
.box-xl{
  @include box-style;
  min-height: 282px;
}


.navbar-nav{
  display: flex !important;
  flex-direction:row;
  position:relative;
}
.dropdown-submenu{
  position: relative;
    font-size: 14px;
}
.header-top-menu .navbar-nav>li .dropdown-menu a{
  font-size: 14px;
}

#main_navbar{
  height:48px
}

.nav-link{
  padding:20px !important;
}
.navbar-dark .navbar-nav .nav-link{
  color:#fff;
}
.drop-caret::after{
  display:none;
}