/*Common colors in whole site*/
$bodyBgColor: #fff; // all pages body color
$contentBgColor: #fff; // all content body color
$activeBtnBgColor: #752876; // all active button color
$activeBtnTextColor: #fff; // all active button text color
$inActiveBtnBgColor : #fff; // all inactive button color
$inActiveBtnTextColor : #752876; // all inactive button text color
$inActiveBtnHover: #ecffe4; // all inactive hover button color
$deleteBtnBgColor : #dc3545; // all delete/close button color
$deleteBtnTextColor : #fff; // all delete/close button text color
$dropdownBgColor: #fff; // all dropdown background color
$dropdownTextColor: #752876; // all dropdown text color
$dropdownHover: #752876; // all dropdown on mouse (hover) background color
$dropdownTextHover: #fff; // all dropdown on mouse (hover) text color
$pageTitleTextColor: #752876; // all page title color
$searchIconColor: #752876; // all page search icon color
$checkOrRadioActiveBgColor: #752876; // all page checkbox background color
/*Common colors in whole site*/


// Login Page 
$contW: 900px; // form box content width
$imgW: 260px;  // form box image width
$formW: $contW - $imgW;  // whole form box width
$switchAT: 1.2s;  // Switching from sign in to sign up content
$inputW: 260px;  //  login button width
$btnH: 36px; // login button height
$loginBgImg: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg'); // body background image
$formSideImag: url('https://www.business.com/images/content/5ca/3db965a215e8a458b9d66/0-800-'); // form side image
$loginBtnColor:#752876; // login sign in / sign up button color
$loginBtnTextClor: #fff;// login sign in/sign up button text color
$formBgColor: #fbfbfb; // form content background color
$formTextColor: #752876; // form content text color
// Login page

//Landing Page
$headerTextBoxBgColor: #000; // landing page header message box color
$headerTextBoxTextColor: #fff; // landing page header message text color
$headerTextBoxSpanColor: #3ad9de; // landing page header link text color
$workTaskColor: #00008b; // landing page last box task text color
$workEventColor: rgb(232, 82, 15); // landing page last box event text color
//Landing Page

//Header Section
$headerBgColor: #752876; //page header background color
$headerTextColor:  #fff; // page header text color
$headerLogo: url('../img/logo_praxis.gif');
//Header Section

//Left Menu
$sidebarBgColor: #752876; //left menu background color
$sidebarTextColor: #fff; // left menu text color
$sidebarIconColor: #fff; // left menu icon color
$sidebarSubMenuBgColor: #d05ed1; // left menu submenu background color
$sidebarListHover: #d05ed1; // left menu list color on mouse (Hover)
$collapseBgColor: #fff; // left menu collapse background color
$collapseTextColor: #752876; // left menu collapse text color
//Left Menu

// All pages boxes
$boxHeadBgColor: #e2e2e2; // box heading background color
$boxheadTextColor: #752876; // box heading text color
$boxSubheadBgColor:  #f2f2f2; // box sub-heading background color
$boxSubheadTextColor: #752876; // box sub-heading text color
// All pages boxes

//All popup (Modal) 
$modalBgColor:#fbfbfb; // Modal body background color
$modalHeaderBgColor:#752876; // Modal Header background colror
//All popup (Modal) 

// All Tabs
$activeTabBgColor: #f2f2f2; // active tab background color
$activeTabTextColor:#752876; // active tab text color
$activeTabBorderColor: #752876; // active tab border color
$inActiveTabTextColor: #752876; // in active tab text color
$hoverTabBgColor: #666; // on mouse(hover) tab background color
$hoverTabTextColor: #fff; // on mouse(hover) tab text color
// All Tabs

// All Tables
$tableHeaderBgColor: #fed0ff; // table header background color
$tableHeaderTextColor: #752876; // table header text color
// All Tables

//Footer Section
$footerBgColor:#eae8e8;
$footerTextColor:#752876;
//Footer Section

//Default box-sizes (Please don't change this below numbers)
$sizes: 129px, 357px, 250px, 236px, 360px, 68px, 215px, 300px, 441px, 750px,282px,542px,200px,570px,555px,50;
//Default box-sizes (Please don't change this above numbers)


