$contW: 900px;
$imgW: 260px;
$formW: $contW - $imgW;
$switchAT: 1.2s;
$inputW: 260px;
$btnH: 36px;
$diffRatio: ($contW - $imgW) / $contW;
$loginBgImg: #5fccec;
$submitBtnColor:#49c5f5;
$submitBtnTextClor: #fff;
$formBgColor: #fff;
$formTextColor: #8a2be2;
$menuBoxColor: #fff;
$headerBgColor: #006DF0;
$headerTextBoxBgColor: #000;
$headerTextBoxTextColor: #fff;
$headerTextBoxSpanColor: #3ad9de;
$navTextColor:#fff;
$collapseBgColor: #5bc0de;
$collapseTextColor: #fff;
$sidebarBgColor: #fff;
$sidebarIconColor: #006DF0;
$sidebarTextColor: #006DF0;
$boxHeadBgColor: rgb(54, 54, 54);
$boxheadTextColor: #fff;
$boxSubheadBgColor: rgb(207, 205, 205);
$boxSubheadTextColor: #000;
$headerLogo: url('../img/logo_praxis.gif');
$iconBoxColor: #d664ed;
$iconBoxTextColor: #fff;
$contentBgColor: #fff;
$landBgBoxColor: #fff;
$workHeadTextColor: #00008b;
$workTaskColor: #00008b;
$workEventColor: rgb(232, 82, 15);
  
// url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg');