$contW: 900px;
$imgW: 260px;
$formW: $contW - $imgW;
$switchAT: 1.2s;
$inputW: 260px;
$btnH: 36px;
$diffRatio: ($contW - $imgW) / $contW;
$loginBgImg: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg');
$submitBtnColor:#49c5f5;
$submitBtnTextClor: #fff;
$formBgColor: #fff;
$formTextColor: #8a2be2;
$menuBoxColor: #fff;

/*Header Section*/
$headerBgColor: #10d004; //page header background color
$headerTextBoxBgColor: #000;
$headerTextBoxTextColor: #fff;
$headerTextBoxSpanColor: #3ad9de;
/*Header Section*/
$navTextColor:#fff;
$collapseBgColor: #10d004;
$collapseTextColor: #fff;
$sidebarBgColor: #1f3e02;
$sidebarIconColor: #10d004;
$sidebarTextColor: #fff;
$sidebarSubMenuBgColor: #10d004;
$sidebarListHover: #07820a;
$boxHeadBgColor: rgb(54, 54, 54);
$boxheadTextColor: #fff;
$boxSubheadBgColor: rgb(207, 205, 205);
$boxSubheadTextColor: #000;
$headerLogo: url('../img/logo_praxis.gif');
$iconBoxColor: #d664ed;
$iconBoxTextColor: #fff;
$contentBgColor: #fff;
$landBgBoxColor: #fff;
$workHeadTextColor: #00008b;
$workTaskColor: #00008b;
$workEventColor: rgb(232, 82, 15);
$modalBgColor:#e3f7df;
$modalHeaderBgColor:#1f3e02;
$modalBtnsuccessBgColor: #07820a;
$modalBtnsuccessTextColor: #fff;
$modalBtncancelBgColor: #fff;
$modalBtncancelTextColor: #07820a;
$customTabBgColor: #ecffe4;
$customTabTextColor: #07820a;
$customTabBorderColor: #07820a;
$hoverTabBgColor: #07820a;
$hoverTabTextColor: #ecffe4;
$tableHeaderBgColor: #ecffe4;
$tableHeaderTextColor: #07820a;
$searchIconColor: #07820a;
$logBottomTextColor: #60885f;

$sizes: 129px, 357px, 250px, 236px, 360px, 68px, 215px, 300px, 441px, 750px,282px,542px,200px,570px,555px,50;
  
// url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg');

//default,primery,danger


/*
$defaultBtnColor:#49c5f5;
$defaultBtnTextClor: #fff;

*/