$contW: 900px;
$imgW: 260px;
$formW: $contW - $imgW;
$switchAT: 1.2s;
$inputW: 260px;
$btnH: 36px;
$diffRatio: ($contW - $imgW) / $contW;
$loginBgImg: #5fccec;
$submitBtnColor:#49c5f5;
$submitBtnTextClor: #fff;
$formBgColor: #fff;
$formTextColor: #8a2be2;
$menuBoxColor: #fff;
  
// url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg');