/*Common colors in whole site*/
$bodyBgColor: #f2f2f2; // all pages body color
$contentBgColor: #fff; // all content body color
$activeBtnBgColor: #069198; // all active button color
$activeBtnTextColor: #fff; // all active button text color
$inActiveBtnBgColor : #fff; // all inactive button color
$inActiveBtnTextColor : #069198; // all inactive button text color
$inActiveBtnHover: #ecffe4; // all inactive hover button color
$deleteBtnBgColor : #dc3545; // all delete/close button color
$deleteBtnTextColor : #fff; // all delete/close button text color
$dropdownBgColor: #f7e8fc; // all dropdown background color
$dropdownTextColor: #f3114f; // all dropdown text color
$dropdownHover: #069198; // all dropdown on mouse (hover) background color
$dropdownTextHover: #fff; // all dropdown on mouse (hover) text color
$pageTitleTextColor: #069198; // all page title color
$searchIconColor: #f3114f; // all page search icon color
$checkOrRadioActiveBgColor: #f3114f; // all page checkbox background color
/*Common colors in whole site*/


// Login Page 
$contW: 900px; // form box content width
$imgW: 260px;  // form box image width
$formW: $contW - $imgW;  // whole form box width
$switchAT: 1.2s;  // Switching from sign in to sign up content
$inputW: 260px;  //  login button width
$btnH: 36px; // login button height
$loginBgImg: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg'); // body background image
$loginBtnColor:linear-gradient(140deg, #f3114f, #069198); // login sign in / sign up button color
$loginBtnTextClor: #fff;// login sign in/sign up button text color
$formBgColor: #f2f2f2; // form content background color
$formTextColor: #f3114f; // form content text color
// Login page

//Landing Page
$headerTextBoxBgColor: #000; // landing page header message box color
$headerTextBoxTextColor: #fff; // landing page header message text color
$headerTextBoxSpanColor: #3ad9de; // landing page header link text color
$workTaskColor: #00008b; // landing page last box task text color
$workEventColor: rgb(232, 82, 15); // landing page last box event text color
//Landing Page

//Header Section
$headerBgColor: linear-gradient(140deg, #f3114f, #069198); //page header background color
$headerTextColor:  #f7e8fc; // page header text color
$headerLogo: url('../img/logo_praxis.gif');
//Header Section

//Left Menu
$sidebarBgColor: linear-gradient(190deg, #f3114f, #069198); //left menu background color
$sidebarTextColor: #fff; // left menu text color
$sidebarIconColor: #e4bf06; // left menu icon color
$sidebarSubMenuBgColor: #069198; // left menu submenu background color
$sidebarListHover: #069198; // left menu list color on mouse (Hover)
$collapseBgColor: #e4bf06; // left menu collapse background color
$collapseTextColor: #fff; // left menu collapse text color
//Left Menu

// All pages boxes
$boxHeadBgColor: #069198; // box heading background color
$boxheadTextColor: #fff; // box heading text color
$boxSubheadBgColor:  #f7e8fc; // box sub-heading background color
$boxSubheadTextColor: #069198; // box sub-heading text color
// All pages boxes

//All popup (Modal) 
$modalBgColor:#f7e8fc; // Modal body background color
$modalHeaderBgColor:#069198; // Modal Header background colror
//All popup (Modal) 

// All Tabs
$activeTabBgColor: #f7e8fc; // active tab background color
$activeTabTextColor:#f3114f; // active tab text color
$activeTabBorderColor: #f3114f; // active tab border color
$inActiveTabTextColor: #069198; // in active tab text color
$hoverTabBgColor: #f3114f; // on mouse(hover) tab background color
$hoverTabTextColor: #fff; // on mouse(hover) tab text color
// All Tabs

// All Tables
$tableHeaderBgColor: #fadbff; // table header background color
$tableHeaderTextColor: #069198; // table header text color
// All Tables

//Footer Section
$footerBgColor: linear-gradient(190deg, #f3114f, #069198);
$footerTextColor: #fff;
//Footer Section

//Default box-sizes (Please don't change this below numbers)
$sizes: 129px, 357px, 250px, 236px, 360px, 68px, 215px, 300px, 441px, 750px,282px,542px,200px,570px,555px,50;
//Default box-sizes (Please don't change this above numbers)


