$HeaderBackgroundColor: #2E5252;
$HeaderTextColor: #fff;
$ButtonBackgroundColor: rgba(114, 73, 30, 1);
$ButtonTextColor: #fff;
$MeetDocBackgroundColor: rgb(95, 106, 76);
$FooterBackgroundColor: #2E5252;